@use '../globals/typography' as *;
@use '../globals/themes' as *;

.hero{
    padding-top: 164px;
    padding-bottom: 164px;

    @include themed(){
        color: t("text");
    }

    h1{
        padding-bottom: 16px;
    }

    h2{
        white-space: nowrap;
    }

    h3{
        padding-bottom: 16px;
    }
}

.hire{
    position: relative;
    z-index: 0;

    text-decoration: none;

    @include themed(){
        border: 5px solid t("text");
    }

    ::before{
        position: absolute;
        display: block;
        z-index: -1;
        content: '';
        width: 312px;
        height: 106px;
        margin: -5px;

        transition:
            width 250ms,
            height 250ms;

        @include themed(){
            background-color: t("bg");
        }
    }

    :hover::before{
        width: 0;
        height: 0;
    }
}

.projects{
    padding-bottom: 124px;

    &-each{
        margin-top: 96px;
        
        &-first{
            margin-top: 40px;
        }
    }

    &-links{
        margin-top: auto;
        padding-top: 32px;

        a{
            text-decoration: underline;
        }
    }

    h5{
        padding-bottom: 16px;
    }

    &-width{
        width: 412px;
        
        p{
            text-align: justify;
        }
    }

    img{
        object-fit: cover;
    }
}

.tags{
    flex-wrap: wrap;

    p{
        padding: 4px 8px 4px 8px;
        margin-top: 16px;
        user-select: none;

        @include themed(){
            border: 1px solid t("text");
        }

    }
}

.about{
    h4{
        padding-bottom: 24px;
    }

    p{
        text-align: justify;
    }

    &-skills{
        padding-top: 16px;
        padding-bottom: 32px;
        :nth-child(2){
            padding: 4px 0 4px 0;
        }
    }
}

.social{
    margin: 4px 0 40px 0;

    :nth-child(2){
        margin-left: 16px;
        margin-right: 16px;
    }
}

.carousel{
    overflow: scroll;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    cursor: grab;
}

.slides{

    img{
        cursor: pointer;
        pointer-events: none;
        margin: 0 24px 0 24px;
        scroll-snap-align: center;
    }
}

@media screen and (min-width: 1280px){
    .hero{
        padding: 256px 0 256px 0;
    }

    .hire{
        width: 312px;
    }
}

@media screen and (max-width: 1279px){
    .projects{
        &-width{
            width: 302px;
        }
    }

    .hire{
        ::before{
            width: 245.2px;
        }
    }
}

@media screen and (max-width: 809px){
    .projects{
        &-width{
            width: 560px;
        }

        &-each{
            margin-top: 56px;
        }

        img{
            margin-top: 16px;
        }
    }

    .hire{
        width: 211.6px;
    }
}

@media screen and (max-width: 639px){
    .hero{
        padding-top: 128px;
        padding-top: 128px;

        flex-direction: column;

        div{
            display: flex;
            flex-direction: column;
            padding-bottom: 32px;
            align-items: center;
        }
    }

    .hire{
        ::before{
            width: fit-content;
        }
    }

    .projects{
        padding-bottom: 64px;

        &-width{
            width: 90vw;
        }
    }
}


