$themes:(
    "dark":(
        bg: #303030,
        text: #F0F0F0,
        blend-mode: difference
    ),
    "light":(
        bg: #F0F0F0,
        text: #303030,
        blend-mode: hard-light,
    ),
);

@mixin themed(){
    @each $theme, $map in $themes{
        .theme--#{$theme} & {
            $theme-map: () !global;

            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

@function t($key){
    @return map-get($theme-map, $key);
}

